/*<button id="DefaultTheme" > Concerned Citizen </button>
<button id="DarkKnight" > Dark Knight </button>
<button id="WonderWoman" > Amazonian </button>
<button id="Aquaman" > Water </button>
<button id="Flash" > Lightning Bolt </button>
<button id="Cyborg" > Main Frame </button>
 <button id="Superman" > Man of Steel </button>*/


 #theme-button-elements button{
 	background-color: rgba(0,0,0,.0);
 	border: none;
 	width: 100%;
 }

 #DarkKnight{

 }